<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>History game</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/history.js" defer></script>
  </head>
  <body class="body_history">
    <header class="header_main">
      <div class="h3_and_burger">
        <h3 class="h3_turnirs">ИСТОРИЯ</h3>
            <a class="a_burger_header" href="@Url.Action("MainStr", "Home")"><img
            src="/img/ic_menu_48px.svg"
            alt="Значок меню, возвращающий на главную страницу"
        /></a>
      </div>
      <div class="list_header">
        <h1 style="margin-top: 1rem; font-size: 4rem; margin-bottom: 0">
          АРБИТРИУМ
        </h1>
        <h2 style="font-size: 3rem; margin-top: 0">ПРОШЕДШИЕ ИГРЫ</h2>
      </div>
      <div class="a_profile_div">
            <a href="@Url.Action("Profile", "Home")" class="profile"><img
            class="profile-img"
            src="/img/user.svg"
            alt="значок профиля - кнопка, переход на профиль пользователя"
        /></a>
      </div>
    </header>
    <main class="main_sect">
      <div class="div_search">
        <label
          for="input_name_tournaments"
          class="label_search"
          id="labelSearch"
          >название турнира</label
        ><input
          class="input_search_tourn"
          type="search"
          id="input_name_tournaments"
        />
      </div>
      <ul class="list_tournaments" id="list_tournaments">
        <li>
          <div class="card_turnir">
            <div class="head_card">
              <img src="/img/🦆 icon _checkers_.svg" alt="" />
              <h4 class="header_card">НАЗВАНИЕ ТУРНИРА</h4>
            </div>
            <p class="date-tour" id="dateTour">Дата проведение: 00.00.0000</p>
            <footer class="footer_card">
              <p class="status-tour" id="statusTour">Статус: Завершен</p>
              <button class="btn_detail_tour" id="btnDetailTour">
                подробнее
              </button>
            </footer>
          </div>
        </li>
        <li>
          <div class="card_turnir">
            <div class="head_card">
              <img src="/img/🦆 icon _checkers_.svg" alt="" />
              <h4 class="header_card">НАЗВАНИЕ ТУРНИРА</h4>
            </div>
            <p class="date-tour" id="dateTour">Дата проведение: 00.00.0000</p>
            <footer class="footer_card">
              <p class="status-tour" id="statusTour">Статус: Завершен</p>
              <button class="btn_detail_tour" id="btnDetailTour">
                подробнее
              </button>
            </footer>
          </div>
        </li>
        <li>
          <div class="card_turnir">
            <div class="head_card">
              <img src="/img/🦆 icon _checkers_.svg" alt="" />
              <h4 class="header_card">НАЗВАНИЕ ТУРНИРА</h4>
            </div>
            <p class="date-tour" id="dateTour">Дата проведение: 00.00.0000</p>
            <footer class="footer_card">
              <p class="status-tour" id="statusTour">Статус: Завершен</p>
              <button class="btn_detail_tour" id="btnDetailTour">
                подробнее
              </button>
            </footer>
          </div>
        </li>
        <li>
          <div class="card_turnir">
            <div class="head_card">
              <img src="/img/🦆 icon _checkers_.svg" alt="" />
              <h4 class="header_card">НАЗВАНИЕ ТУРНИРА</h4>
            </div>
            <p class="date-tour" id="dateTour">Дата проведение: 00.00.0000</p>
            <footer class="footer_card">
              <p class="status-tour" id="statusTour">Статус: Завершен</p>
              <button class="btn_detail_tour" id="btnDetailTour">
                подробнее
              </button>
            </footer>
          </div>
        </li>
        <li>
          <div class="card_turnir">
            <div class="head_card">
              <img src="/img/🦆 icon _checkers_.svg" alt="" />
              <h4 class="header_card">НАЗВАНИЕ ТУРНИРА</h4>
            </div>
            <p class="date-tour" id="dateTour">Дата проведение: 00.00.0000</p>
            <footer class="footer_card">
              <p class="status-tour" id="statusTour">Статус: Завершен</p>
              <button class="btn_detail_tour" id="btnDetailTour">
                подробнее
              </button>
            </footer>
          </div>
        </li>
        <li>
          <div class="card_turnir">
            <div class="head_card">
              <img src="/img/🦆 icon _checkers_.svg" alt="" />
              <h4 class="header_card">НАЗВАНИЕ ТУРНИРА</h4>
            </div>
            <p class="date-tour" id="dateTour">Дата проведение: 00.00.0000</p>
            <footer class="footer_card">
              <p class="status-tour" id="statusTour">Статус: Завершен</p>
              <button class="btn_detail_tour" id="btnDetailTour">
                подробнее
              </button>
            </footer>
          </div>
        </li>
        <li>
          <div class="card_turnir">
            <div class="head_card">
              <img src="/img/🦆 icon _checkers_.svg" alt="" />
              <h4 class="header_card">НАЗВАНИЕ ТУРНИРА</h4>
            </div>
            <p class="date-tour" id="dateTour">Дата проведение: 00.00.0000</p>
            <footer class="footer_card">
              <p class="status-tour" id="statusTour">Статус: Завершен</p>
              <button class="btn_detail_tour" id="btnDetailTour">
                подробнее
              </button>
            </footer>
          </div>
        </li>
        <li>
          <div class="card_turnir">
            <div class="head_card">
              <img src="/img/🦆 icon _checkers_.svg" alt="" />
              <h4 class="header_card">НАЗВАНИЕ ТУРНИРА</h4>
            </div>
            <p class="date-tour" id="dateTour">Дата проведение: 00.00.0000</p>
            <footer class="footer_card">
              <p class="status-tour" id="statusTour">Статус: Завершен</p>
              <button class="btn_detail_tour" id="btnDetailTour">
                подробнее
              </button>
            </footer>
          </div>
        </li>
        <li>
          <div class="card_turnir">
            <div class="head_card">
              <img src="/img/🦆 icon _checkers_.svg" alt="" />
              <h4 class="header_card">НАЗВАНИЕ ТУРНИРА</h4>
            </div>
            <p class="date-tour" id="dateTour">Дата проведение: 00.00.0000</p>
            <footer class="footer_card">
              <p class="status-tour" id="statusTour">Статус: Завершен</p>
              <button class="btn_detail_tour" id="btnDetailTour">
                подробнее
              </button>
            </footer>
          </div>
        </li>
      </ul>
    </main>
    <footer class="footer_history">
      <a
        class="back_strela"
        style="margin-left: 5rem; height: 5rem; display: block; width: 7rem"
        href=""
        ><img
          src="/img/ic_forward_48px.svg"
          alt="кнопка, возврающая на один шаг назад (на прошлую страницу)"
      /></a>
    </footer>
  </body>
</html>
