<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная страница</title>
    <script src="~/js/main-str.js" defer></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  </head>
    <body style="background-image: url('/img/Frame.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: -webkit-fill-available;
    min-height: 97.5vh;
    background-position: -3rem 13rem;">
      <header class="header_main">
        <div class="empty_div"></div>
        <h1 style="margin-top: 2rem; font-size: 5rem">АРБИТРИУМ</h1>
        
      </header>
      <main class="main_sect">
        <div class="close-menu" id="closeMenu">
          <button class="close-btn_swim_menu" id="btnSwimMenu">
            <img
              class="close-burger-menu"
              src="/img/ic_menu_48px.svg"
              alt=""
              id="burgerImg"
            />
            <img
              class="close-back-burger"
              src="/img/back-fon-burger-menu.svg"
              alt=""
              id="backBurgerImg"
            />
          </button>
        </div>
        
        <nav class="sidebar" id="sideMenu" style="display: none">
          <h2 class="head_sidebar">ГЛАВНОЕ МЕНЮ</h2>
          <ul class="list_section">
            <li class="li_section">
                        <a class="link_sect" href="@Url.Action("ChoiceSystem", "Home")">турниры</a>
            </li>
            <li class="li_section">
                        <a class="link_sect" href="@Url.Action("Settings", "Home")">настройки</a>
            </li>
          </ul>
        </nav>
      </main>
    <footer style="padding:0"></footer>
  </body>
</html>
