
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
</head>
<body class="body-profile">
    <header class="header_main_profile">
        <div class="h3_and_burger">
            <h3 class="h3_turnirs">ПРОФИЛЬ</h3>
            <a class="a_burger_header" href="@Url.Action("Index", "Home")" ">
                <img src="/img/ic_menu_48px.svg"
                     alt="Значок меню, возвращающий на главную страницу" />
            </a>
        </div>
        <div class="list_header">
            <h1 style="margin-top: 2rem; font-size: 4rem; margin-bottom: 0">
                АРБИТРИУМ
            </h1>
            <h2 style="font-size: 3rem; margin-top: 0">ИНФОРМАЦИЯ О ПРОФИЛЕ</h2>
        </div>
        <div class="a_profile_div"></div>
    </header>
    <main class="main_sect">
        <div class="user_photo"><img src="/img/user.png" alt="" /></div>
        <div>
            <ul class="list_btn_profile">
                <li class="">
                    <a class="btn_prof btn_a"
                       id="settingsProfile"
                       href="@Url.Action("ProfileSecond", "Home")">
                        настройки профиля
                    </a>
                </li>
                <li class="btn_profile">
                    <button class="btn_prof" id="exit">выход</button>
                </li>
            </ul>
        </div>
    </main>
    <footer>
        <a class="back_strela"
           style="margin-left: 5rem; height: 5rem; display: block; width: 7rem"
           href="@Url.Action("Index", "Home")">
            <img src="/img/ic_forward_48px.svg"
                 alt="кнопка, возврающая на один шаг назад (на прошлую страницу)" />
        </a>
    </footer>
</body>
</html>
