<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Result</title>
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <script src="/js/result.js" defer></script>
</head>
<body>
    <header class="header_main" style="padding-bottom: 4rem">
        <div class="h3_and_burger">
            <h3 class="h3_turnirs">ТУРНИРЫ</h3>
            <a class="a_burger_header" href="@Url.Action("Index", "Home")">
                <img src="/img/ic_menu_48px.svg"
                     alt="Значок меню, возвращающий на главную страницу" />
            </a>
        </div>
        <div class="list_header" style="background-color: black">
            <h1 style="margin-top: 2rem; font-size: 4rem; margin-bottom: 0">
                АРБИТРИУМ
            </h1>
            <h2 style="font-size: 3rem; margin-top: 0">РЕЗУЛЬТАТЫ</h2>
        </div>

    </header>
    <main class="main_sect">
        <ul class="list_btn_tabs">
            <li><button class="btn_tabs" id="btnTabs1">1</button></li>
            <li><button class="btn_tabs" id="btnTabs2">2</button></li>
            <li><button class="btn_tabs" id="btnTabs3">3</button></li>
            <li><button class="btn_tabs" id="btnTabs4">4</button></li>
            <li><button class="btn_tabs" id="btnTabs5">5</button></li>
            <li><button class="btn_tabs" id="btnTabs6">6</button></li>
            <li><button class="btn_tabs" id="btnTabs7">7</button></li>
        </ul>
        <div class="div_grid_result">
        <h4 class="game1">ИГРА 1</h4>
        <p class="id_game1" style="color: #ff913c">id</p>
        <p class="id_game2" style="color: #ff913c">id</p>
        <p class="name1">фио игрока</p>
        <p class="name2">фио игрока</p>
        <input class="result1 result" placeholder="результат" />
        <input class="result2 result" placeholder="результат" />
        <h4 class="game2">ИГРА 2</h4>
        <p class="id_game3" style="color: #ff913c">id</p>
        <p class="id_game4" style="color: #ff913c">id</p>
        <p class="name3">фио игрока</p>
        <p class="name4">фио игрока</p>
        <input class="result3 result" placeholder="результат" />
        <input class="result4 result" placeholder="результат" />
        <h4 class="game3">ИГРА 3</h4>
        <p class="id_game5" style="color: #ff913c">id</p>
        <p class="id_game6" style="color: #ff913c">id</p>
        <p class="name5">фио игрока</p>
        <p class="name6">фио игрока</p>
        <input class="result5 result" placeholder="результат" />
        <input class="result6 result" placeholder="результат" />
        <h4 class="game4">ИГРА 4</h4>
        <p class="id_game7" style="color: #ff913c">id</p>
        <p class="id_game8" style="color: #ff913c">id</p>
        <p class="name7">фио игрока</p>
        <p class="name8">фио игрока</p>
        <input class="result7 result" placeholder="результат" />
        <input class="result8 result" placeholder="результат" />
      </div>
        <ul class="list_btn_tabs" style="margin-left: 24rem">
            <li><button class="btn_set_game">сохранить</button></li>
            <li><a href="@Url.Action("ResultPlaces", "Home")" class="btn_set_game">расчет итогов</a></li>
        </ul>
    </main>
    <footer>
        <a class="back_strela"
           style="margin-left: 5rem; height: 5rem; display: block; width: 7rem"
           href="@Url.Action("SettingGameThird", "Home")">
            <img src="/img/ic_forward_48px.svg"
                 alt="кнопка, возврающая на один шаг назад (на прошлую страницу)" />
        </a>
    </footer>
</body>
</html>
