<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Choice-system</title>
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
  </head>
  <body>
    <header class="header_main">
      <h3>ТУРНИРЫ</h3>
      <div>
        <h1>АРБИТРИУМ</h1>
        <h2>ВЫБОР СИСТЕМЫ ИГРЫ</h2>
      </div>
      <a href="profile.html" class="profile"
        ><img src="/img/user.svg" alt=""
      /></a>
    </header>
    <main class="main_sect">
      <img src="/img/ic_menu_48px.svg" alt="" />
      <ul class="list_system">
        <li class="system">
          <h4>круговая</h4>
          <p>
            каждый участник соревнований или каждая команда поочередно
            встречается со всеми остальными участниками или командами в один или
            несколько кругов.
          </p>
          <button class="btn_choice_system">выбрать</button>
        </li>
        <li class="system">
          <h4>олимпийская</h4>
          <p>
            в зависимости от числа спортсменов (команд), играющих по условиям
            соревнований, устанавливается определенное количество туров
          </p>
          <button class="btn_choice_system">выбрать</button>
        </li>
        <li class="system">
          <h4>схевенингенская</h4>
          <p>
            участники одной команды (группы) поочередно играют с представителями
            другой команды 
          </p>
          <button class="btn_choice_system">выбрать</button>
        </li>
        <li class="system">
          <h4>швейцарская</h4>
          <p>
            после каждого поражения игрок выбывает только из борьбы за более
            высокое место. В результате победителем оказывается игрок, не
            проигравший ни одного матча.
          </p>
          <button class="btn_choice_system">выбрать</button>
        </li>
      </ul>
      <a href=""><img src="/img/ic_forward_48px.svg" alt="" /></a>
      <a href="history.html">ddddddddddddd</a>
    </main>
  </body>
</html>
