<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="header_main"><h1>АРБИТРИУМ</h1></header>
    <main class="main_sect">
      <a href="" class="profile"><img src="" alt="" /></a>
      <nav class="sidebar" id="side-menu">
        <h2 class="head_sidebar">ГЛАВНОЕ МЕНЮ</h2>
        <ul class="list_section">
          <li class="li_section"><a href="">турниры</a></li>
          <li class="li_section"><a href="history.html">история</a></li>
          <li class="li_section"><a href="profile.html">профиль</a></li>
          <li class="li_section"><a href="settings.html">настройки</a></li>
        </ul>
        <button><img src="" alt="" /></button>
      </nav>
      <a href=""><img src="/img/ic_forward_48px.svg" alt="" /></a>
      <a href="profile.html">dddddddddddddddd</a>
    </main>
  </body>
</html>
