<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings for arbiter / name players</title>
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
  </head>
  <body>
    <header class="header_main">
      <div>
        <h1>АРБИТРИУМ</h1>
        <h2>НАСТРОЙКИ ИГРЫ</h2>
      </div>
      <a href="profile.html" class="profile"
        ><img src="/img/user.svg" alt=""
      /></a>
    </header>
    <main class="main_sect">
      <img src="/img/ic_menu_48px.svg" alt="" />
      <div>
        <h4 class="header-data-players">ДАННЫЕ УЧАСТНИКОВ</h4>
        <ul class="list_players" id="list-players"></ul>
        <a href="" class="settings-tournament"
          ><img src="" alt="" />настойки турнира</a
        >
      </div>
      <a href=""><img src="/img/ic_forward_48px.svg" alt="" /></a>
      <a href="settings-game-arbiter.html">ddddddddddddd</a>
    </main>
  </body>
</html>
