<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Player</title>
  </head>
  <body>
    <header>
      <h1 class="header-start-reg">АРБИТРИУМ</h1>
      <h2>УЧАСТНИК</h2>
    </header>
    <main class="flex-main">
      <h3>регистрация</h3>
      <ul class="">
        <li>
          <label for=""><input type="email" name="" id="" /></label>
        </li>
        <li>
          <label for=""><input type="password" name="" id="" /></label>
        </li>
        <li>
          <label for=""><input type="password" name="" id="" /></label>
        </li>
      </ul>
      <a href="entrance.html">ВОЙТИ</a>
    </main>
    <footer></footer>
  </body>
</html>
