@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost-Regular.ttf') format('truetype'),
    url('/fonts/Jost-SemiBold.ttf') format('truetype'),
    url('/fonts/Jost-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-primary: 'JostRegular', sans-serif;
  --font-primary-bold: 'Jost-SemiBold', sans-serif;
  --font-primary-medium: 'Jost-Medium', sans-serif;
  --color-primary: #000000;
  --color-second: white;
  --color-primary-second: #7979ff;
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:after,
*::before {
  box-sizing: inherit;
}
body {
  background-color: var(--color-primary);
  color: var(--color-second);
  font-family: var(--font-primary);
  margin: 0;
}
h1,
h2 {
  font-family: var(--font-primary-bold);
}
h3 {
  font-family: var(--font-primary-medium);
}
.header-start-reg {
  margin: 0 auto;
  font-size: 6.6rem;
  margin-bottom: 2rem;
  margin-top: 8rem;
  text-align: center;
}
.flex-main {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.list-var-reg {
  list-style-type: none;
  padding: 0;
}
.a_profile_div {
    text-align: end;
    align-self: center;

}
.a_profile_div_main {
    position: relative;
    left: 15rem;
}
.link-reg {
    background-color: var(--color-primary-second);
    color: var(--color-second);
    border-radius: 1.6rem;
    padding: 1.9rem 10rem;
    font-family: var(--font-primary-bold);
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
    font-family: var(--font-primary-bold);
    font-weight: 600;
}
a:hover {
  border: 0.2rem solid #ff913c;
}
.img-icon {
  width: 16.2rem;
}

.list-var-reg {
  display: flex;
  gap: 6rem;
  justify-content: center;
}
.questions {
  font-family: var(--font-primary-medium);
  font-size: 2.4rem;
}
.link-authoriz {
  width: 18.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5rem;
  margin-top: -1.5rem;
}

.main_str_backimg {
  background-image: url('/img/Frame.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header_main {
  font-family: var(--font-primary-bold);
  font-size: 3rem;
  text-align: center;
  display: grid;
  column-gap: 10rem
  grid-template-rows: 12rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.profile-img {
  width: 6rem;
  margin-right: 5rem;
}
.back-burger {
  width: 11rem;
  bottom: 1vh;
  position: absolute;
  left: -5vh;
  z-index: 2;
}
.btn_swim_menu {
  width: 8rem;
  height: 11rem;
  background-color: transparent;
  border: none;
  position: absolute;
  left: 45vh;
  bottom: 46vh;
}
.burger-menu {
  z-index: 3;
  bottom: 6vh;
  left: 1vh;
  position: absolute;
}
.close-btn_swim_menu {
  width: 8rem;
  height: 11rem;
  background-color: transparent;
  border: none;
  position: absolute;
  left: 2.4vh;
  bottom: 46vh;
}
.close-burger-menu {
  z-index: 3;
  bottom: 6vh;
  left: 0.2vh;
  position: absolute;
}
.close-back-burger {
  width: 11rem;
  bottom: 1vh;
  position: absolute;
  left: -5vh;
  z-index: 2;
}
.close-menu {
  background-color: var(--color-primary-second);
  width: 4rem;
  height: 89rem;
  position: absolute;
  left: 0rem;
  bottom: 0rem;
}
.profile {
  display: inline-flex;
  width: 6rem;
  
}
.profile:hover {
  border: none;
}

.sidebar {
  background-color: var(--color-primary-second);
  width: 50vh;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.head_sidebar {
  font-size: 2.7rem;
  text-align: center;
  padding-top: 2rem;
}
.list_section {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 13vh;
  padding:0;
  margin-top: 13vh;
  margin-left: 0;
}

.link_sect {
  text-decoration: none;
  color: white;
  font-size: 2.4rem;
}
.link_sect:hover {
  font-weight: 700;
  border: none;
}
.img-background {
  background-image: url('/img/Frame.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: -webkit-fill-available;
  min-height: 97.5vh;
  background-position: -3rem 13rem;
}

.list_header {
  display: flex;
  flex-direction: column;
}
.h3_turnirs {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.h3_and_burger {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2rem;
}
.list_system {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding-left:1rem
}
.description_system {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-second);
  width: 42vh;
  border-radius: 0.7rem;
  font-size: 1.9rem;
  /* height: 43rem; */
  justify-content: space-between;
  align-items: center;
}
.desc_without_btn1 {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.btn_system_description {
  background-color: var(--color-primary-second);
  color: white;
  border: none;
  width: inherit;
  /* padding-top: 2rem; */
  height: 6rem;
  border-radius: 0.7rem;
  font-size: 2.2rem;
  font-weight: 600;
}
.back_fon_system {
  background-image: url(/img/Frame-system.png);
  background-position: 0rem 21rem;
  background-repeat: no-repeat;
  background-size: 136rem 47rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
footer {
  margin-top: auto;
  padding-bottom: 1.7rem;
}
.btn_choice_system {
  background-color: white;
  border: none;
  color: var(--color-primary-second);
  padding: 1rem 2rem;
  margin-bottom: 3rem;
  font-size: 2.2rem;
  font-weight: 600;
  border-radius: 0.7rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.a_burger_header:hover {
  border: none;
}
.back_strela:hover {
  border: none;
}
.body_history {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.div_search {
  position: relative;

  height: 4rem;
}
.label_search {
  color: #c1c1ff;
  font-size: 1.8rem;
  font-weight: 700;
  position: relative;
  left: -20rem;
  z-index: 2;
}
.input_search_tourn {
  background-image: url(/img/search.svg);
  background-position: 1rem center;
  width: 25rem;
  background-repeat: no-repeat;
  margin-left: 10rem;
  padding: 1.5rem;
  padding-left: 5rem;
  border-radius: 1rem;
  border: none;
  box-sizing: border-box;
  position: relative;
  right: 51rem;
  z-index: 1;
}
.input_search_tourn::before {
  content: 'название турнира';
  position: absolute;
  top: 1.3rem;
  left: 1.3rem;
  color: #c1c1ff;
  font-size: 1.8rem;
  font-weight: 700;
  pointer-events: none;
  transition: top 0.3s ease, font-size 0.3s ease;
}
.input_search_tourn:focus::before,
.input_search_tourn:not(:placeholder-shown)::before {
  top: -20px;
  font-size: 12px;
}
.input_search_tourn:focus {
  outline: none;
  border: none;
  padding-top: -0.4rem;
  height: 4.1rem;
}

.card_turnir {
  background-color: var(--color-primary-second);
  border-radius: 0.8rem;
  padding: 1.3rem;
  width: 31rem;
  height: 12.6rem;
  font-size: 1.4rem;
}
.head_card {
  font-size: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.header_card {
  margin: 0;
}
.status-tour {
  margin: 0 1rem 0 0;
}
.date-tour {
  margin: 1rem 0;
}
.btn_detail_tour {
  background-color: #ff913c;
  border: none;
  height: 3.2rem;
  text-align: center;
  border-radius: 1.8rem;
  color: var(--color-second);
  padding: 0.6rem 2rem;
  font-weight: 700;
}
.footer_card {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list_tournaments {
  margin: 1.3rem 6rem;
  list-style-type: none;
  display: grid;
  row-gap: 1rem;
  column-gap: 6rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'tournament tournament tournament'
    'tournament tournament tournament'
    'tournament tournament tournament';
}
.footer_history {
  padding-bottom: 0;
}
/* Вход */
.header-start-reg-h2 {
    font-size: 2.8rem;
    font-family: var(--font-primary-bold);
    margin-bottom: 1rem;
    margin-top: 0;
}

.input {
    background-color: var(--color-primary-second);
    color: white;
    padding: 2.5rem 1.5rem;
    width: 40rem;
    height: 4.5rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.7rem;
}

    .input::placeholder {
        color: white;
        font-size: 1.7rem;
        font-weight: 600;
        opacity: 0.5;
    }

    .input:focus {
        border: 0.1rem solid #ff913c;
        outline: none;
    }

.header-start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list_input {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 0;
}

.a-reg {
    font-size: 2.3rem;
    text-decoration: none;
    color: white;
    font-family: var(--font-primary-medium);
    font-weight: 600;
}

    .a-reg:hover {
        border: none;
        color: #ff913c;
    }
/**/
/*reg-Arbitr*/
.header-start-reg-h3 {
    font-size: 2.8rem;
    font-family: var(--font-primary-medium);
    margin-bottom: 1rem;
    font-weight: 600;
}
/**/
